﻿
@{
    ViewBag.Title = "Manage";
}


<div class="panel panel-default main-panel">
    <div class="panel-body">
        <div data-bind="visible: loading()">
            <div class="text-center">
                <img src="~/Images/gears.gif" />
            </div>
        </div>
        <div class="row" data-bind="visible: !loading()">
            <div class="col-xs-12 text-center" style="margin-bottom: 20px;">
                <form class="form-inline" data-bind="submit: findBy">
                    <div class="form-group">
                        <label for="findBy" class="control-label">Find By:</label>
                        <select class="form-control" name="findBy" data-bind="value: findByDDL">
                            <option value="findById">Id</option>
                            <option value="findByName">Name</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="searchType" data-bind="value: searchTypeDDL">
                            <option value="folder">Folder</option>
                            <option value="page">Page</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" data-bind="value: findByRaw" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-bind="click: findBy">Find</button>
                        <button type="button" class="btn btn-danger" data-bind="visible: showFindPane(), click: clearFind">Clear</button>
                    </div>
                </form>
            </div>
            <div data-bind="visible: !loading() && showFindPane()">
                <div class="col-xs-12" data-bind="visible: foundFolders().length > 0">
                    <h1 class="text-center">Folders</h1>

                    <ol data-bind="foreach: foundFolders">
                        <li><a data-bind="attr: { href: url }, text: name"></a></li>
                    </ol>
                </div>
                <div class="col-xs-12" data-bind="visible: foundPages().length > 0">
                    <h1 class="text-center">Pages</h1>

                    <ol data-bind="foreach: foundPages">
                        <li><a data-bind="attr: {href: url}, text: title"></a></li>
                    </ol>
                </div>
            </div>
            <div data-bind="visible: !loading() && !showFindPane()">
                <div class="col-md-12">
                    <ol class="breadcrumb" data-bind="foreach: folderHistory">
                        <li data-bind="attr: { class: active ? 'active' : ''}">
                            <a data-bind="attr: { href: '/manage#folder/' + id}"><span data-bind="text: title"></span></a>
                        </li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="pull-left">Folders</div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-xs" data-bind="click: showCreateFolderModal">
                                    <span class="glyphicon glyphicon-plus"></span>
                                    &nbsp;Add Folder
                                </button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <ul class="folder-list" data-bind="foreach: folders">
                                <li>
                                    <a href="javascript: void(0);" data-bind="click: $parent.getChildFolders" class="pull-left">
                                        <span class="glyphicon glyphicon-folder-close folder-icon"></span>
                                        <span data-bind="text: name"></span>
                                    </a>
                                    <button href="javascript: void(0);" class="btn btn-xs btn-link pull-right text-danger"
                                            data-bind="attr: { title: 'Delete Folder - ' + name }, click: $parent.toggleRemoveFolderModal">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <span class="clearfix"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="pull-left">Pages</span>
                            <div class="pull-right">
                                <div data-bind="visible: showCreatePageButton()">
                                    <button type="button" class="btn btn-xs" data-bind="click: showCreatePageModal">
                                        <span class="glyphicon glyphicon-plus"></span>
                                        &nbsp;Add Page
                                    </button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            <div class="text-right" data-bind="visible: pages().length > 0 && selectedPages().length > 0">
                                <button type="button" class="btn btn-info" data-bind="click: movePages">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                    Move Pages
                                </button>
                                @*<button type="button" class="btn btn-danger" data-bind="click: deletePages">
                                        <span class="glyphicon glyphicon-remove"></span>
                                        Delete Pages
                                    </button>*@
                            </div>
                            <table class="table">
                                <thead data-bind="visible: pages().length > 0">
                                    <tr>
                                        <th>
                                            <input type="checkbox" data-bind="click: toggleAllPages" />
                                        </th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th class="text-right">Options</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="visible: pages().length <= 0">
                                    <tr>
                                        <td colspan="3">There are no pages in this folder</td>
                                    </tr>
                                </tbody>
                                <tbody data-bind="visible: pages().length > 0, foreach: pages">
                                    <tr>
                                        <td>
                                            <input type="checkbox" data-bind="value: id, checked: $parent.selectedPages" />
                                        </td>
                                        <td data-bind="text: id"></td>
                                        <td data-bind="text: title"></td>
                                        <td class="text-right">
                                            <a class="btn btn-primary" role="button" data-bind="attr: {href: '/manage/page/' + id}">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </a>
                                            <button class="btn btn-info">
                                                <span class="glyphicon glyphicon-share-alt"></span>
                                            </button>
                                            <button class="btn btn-danger" data-bind="click: $parent.confirmDelete">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("_PageDeleteModal"); }
@{ Html.RenderPartial("_FolderCreateModal"); }
@{ Html.RenderPartial("_PageCreateModal"); }
@{ Html.RenderPartial("_FolderSelectModal"); }
@{ Html.RenderPartial("_FolderDeleteModal"); }

@section scripts {
    @{ Html.RenderPartial("_DropdownFolderList"); }
    @Scripts.Render("~/bundles/manage");

    <script>
        var manageVm = new ManageVm();

        pager.extendWithPage(manageVm);
        ko.applyBindings(manageVm);

        pager.start();
    </script>
}