﻿
@{
    ViewBag.Title = "Link Viewer";
}

<h2>Link Viewer</h2>

@if (ViewBag.PageId == null)
{
    <div class="col-xs-12" id="" style="min-height: 600px;">
        <form class="form-inline">
            <div class="form-group">
                <label for="pageId">Page Id:</label>
                <input type="text" name="pageId" id="pageId" class="form-control" placeholder="Enter Page Id to load links" />
            </div>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-download"></span>
                Load
            </button>
        </form>
    </div>
}
else
{
    <div data-bind="visible: loading()">
        <div class="text-center">
            <img src="~/Images/gears.gif" />
        </div>
    </div>
    <div class="row" data-bind="visible: !loading() && links().length <= 0">
        <div class="col-xs-12">
            <h1>No Links!</h1>
        </div>
    </div>
    <div class="row" style="display: none;" data-bind="visible: !loading() && links().length > 0">
        <div class="col-xs-12">
            <div data-bind="visible: !iframeLoaded()">
                <div class="text-center" style="min-height: 600px;">
                    <h1>Loading IFrame...</h1>
                    <img src="~/Images/gears.gif" />
                </div>
            </div>
            <div data-bind="visible: iframeLoaded(), bindIframe: activeLink"></div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="pull-left">
                    <button class="btn btn-primary" data-bind="click: updateSelected">Update</button>
                    <button class="btn btn-danger" data-bind="click: launchConfirmDeleteDialog">Delete</button>
                    <button class="btn btn-warning">Add To Whitelist</button>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-bind="click: activatePreviousLink, visible: activeLinkIndex() > 0">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Back
                    </button>
                    <button type="button" class="btn btn-default" data-bind="click: activateNextLink, visible: activeLinkIndex() != links().length - 1">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                        Next
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-xs-12">
                <div class="pull-left"> Title </div>
                <div class="pull-right"><a data-bind="attr: {href: 'https://www.google.com/#q=' + activeLink().title() }" target="_blank">Google Search</a></div>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Link Title" data-bind="value: activeLink().title" />
            </div>
        </div>
        <div class="col-xs-12" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <div class="pull-left"> Url </div>
                <div class="pull-right"><a data-bind="attr: {href: activeLink().url}" target="_blank">Open in new window</a></div>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Link Url" data-bind="value: activeLink().url" />
            </div>
        </div>
        <div class="col-xs-12" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <form class="form-inline">
                    <div class="checkbox" style="margin-right: 10px;">
                        <label>
                            Suspend <input type="checkbox" data-bind="checked: activeLink().isSuspended" />
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            Elevate <input type="checkbox" data-bind="checked: activeLink().isElevated" />
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12">
                Comments
            </div>
            <div class="col-xs-12">
                <textarea data-bind="value: activeLink().comments" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12" data-bind="foreach: similarLinks">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" data-bind="checked: checked" />
                        <span data-bind="text: folderStructure()"></span>
                    </label>
                    <a data-bind="attr: {href: openInNewUrl}" target="_blank">View in New Window</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" data-bind="showModal: showConfirmDeleteDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>
                            Are you sure you wish to remove <span data-bind="text: selectedLinkCount()"></span> link(s)?
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-bind="click: deleteSelected">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {
    @{
        var pageId = ViewBag.PageId != null ? ViewBag.PageId : -1;
    }
    @Scripts.Render("~/bundles/linkViewer");

    <script>
        var linkViewerVm = new LinkViewerVm(@pageId);
        ko.applyBindings(linkViewerVm);
    </script>
}
