﻿
@{
    ViewBag.Title = "Page Copier";
}

<h2>Page Copier</h2>
<div class="panel panel-default main-panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="azurePageId">Old Page Id</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="azurePageId" data-bind="value: oldPageId" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-bind="click: getPageData">
                                <span class="glyphicon glyphicon-search"></span>
                                Find
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bind="visible: newPageExists">
            <div class="col-xs-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Warning!</strong> A page with that ID already exists in the new database.<br />
                    <strong>Title:</strong> <span data-bind="text: newPageTitle"></span>
                </div>
                <div>
                </div>

                <div>Would you like to create this page with a new ID?</div><br />
                <div class="form-group">
                    <label>New Page ID</label>
                    <div class="input-group">
                        <input type="text" class="form-control" data-bind="value: newPageId" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-bind="click: createPageWithNewId">
                                <span class="glyphicon glyphicon-check"></span>
                                Yes
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" data-bind="visible: pageData().id() != 0">
            <div class="col-xs-12">
                <h3>Copying Azure Page to Id: <strong data-bind="text: pageData().id"></strong></h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Folder Information</h4>
                    </div>
                    <div class="panel-body">
                        <div>
                            <span data-bind="html: folderStructure"></span>&nbsp;&nbsp;
                            <span data-bind="visible: foldersList().length <= 0">
                                [<a href="javascript:void(0);" data-bind="click: changeFolder">change</a>]
                            </span>
                        </div>
                        <div id="folderDDList" data-bind="visible: foldersList().length > 0">
                            <div class="pull-left" data-bind="template: {name: 'folder-dd-template', foreach: foldersList}"></div>&nbsp;&nbsp;
                            <div class="pull-left" style="margin-left: 10px;">
                                <button class="btn btn-success btn-xs" data-bind="click: saveNewFolder"><span class="glyphicon glyphicon-check"></span></button>
                                <button class="btn btn-danger btn-xs" data-bind="click: cancelNewFolder"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Page Information</h4>
                    </div>
                    <div class="panel-body">
                        @{ Html.RenderPartial("_PageInfo");}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Links</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Position</th>
                                    <th>Title</th>
                                    <th>Target</th>
                                    <th>Is Link?</th>
                                    <th style="max-width: 50px;">Options</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: links">
                                <tr>
                                    <td data-bind="text: id"></td>
                                    <td data-bind="text: position"></td>
                                    <td data-bind="text: title"></td>
                                    <td data-bind="text: target"></td>
                                    <td>
                                        <span class="label label-success" data-bind="visible: isLink(), text: isLink"></span>
                                        <span class="label label-danger" data-bind="visible: !isLink(), text: isLink"></span>
                                    </td>
                                    <td style="max-width: 75px;" class="text-center">
                                        <button class="btn btn-info btn-sm" data-bind="click: $parent.editLink">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button class="btn btn-danger btn-sm" data-bind="click: $parent.confirmRemoveLink">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: pageData().id() != 0">
            <div class="col-xs-12 text-right">
                <button type="button" class="btn btn-success btn-lg" data-bind="click: saveAll">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div> 
        </div>
    </div>
</div>

@{ Html.RenderPartial("_LinkViewMoreModal");}
@{ Html.RenderPartial("_LinkDeleteModal");}

@section scripts {
    @{Html.RenderPartial("_DropDownFolderList");}
    @Scripts.Render("~/bundles/pageCopier");

    <script>
        $(document).ready(function () {
            var copyVm = new CopyVm();
            ko.applyBindings(copyVm);
        });
    </script>
}
